
* { box-sizing: border-box; }

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
 
}


#root {
  display: grid;
  place-items: center;     
  
}
